<div class="title">
  <h1 id="titulo" >Sistema de<img id="logo" src="../../assets/Logo.png" alt="Escudo"></h1>
  <br>
  <h1> predicción de sepsis </h1>

  <hr id="separador">
</div>
<div class="pregunta">
  <h3>¿Qué es sepsis?</h3>
</div>

<img src="../../assets/undraw_doctors_aboutUs.svg" alt="">

<div class="docs">
</div>
<p class="p_desc">La sepsis es una complicación que tiene lugar cuando el organilgo produce una respuesta inmunitaria desbalanceada, anómala, frente a una infección. La sepsis es una urgencia médica y si no se diagnostica y trata de forma temprana, puede ocasionar daño irreversible a los tejidos, choque séptico, insuficiencia orgánica múltiple y poner en riesgo la vida. El choque séptico es un tipo grave de sepsis en el cual las alteraciones circulatorias y celulares o metabólicas son tan graves que incrementan el riesgo de muerte de manera sustancial.</p>

<div id="pregunta">
  <h3>Intengrantes</h3>
</div>

<div class="integrantes">
  <div class=".prf_pics">
    <mat-card>
      <img src="../../assets/JC_profile_pic.png" mat-card-lg-image>
      <mat-card-footer class="nombre_prof" >Julian Cardenas</mat-card-footer>
    </mat-card>
  </div>

  <div class=".prf_pics">
    <mat-card>
      <img src="../../assets/JC_profile_pic.png" mat-card-lg-image>
      <mat-card-footer class="nombre_prof" >Nicolas Ramos</mat-card-footer>
    </mat-card>
  </div>

  <div class=".prf_pics">
    <mat-card>
      <img src="../../assets/JC_profile_pic.png" mat-card-lg-image>
      <mat-card-footer class="nombre_prof" >Sergio Triana</mat-card-footer>
    </mat-card>
  </div>

  <div class=".prf_pics">
    <mat-card>
      <img src="../../assets/JC_profile_pic.png" mat-card-lg-image>
      <mat-card-footer class="nombre_prof" >Richard Fonseca</mat-card-footer>
    </mat-card>
  </div>
</div>

<div class="pregunta">
  <h3>Directores</h3>
</div>

<div class="integrantes">
  <div class=".prf_pics">

    <mat-card>
      <img src="../../assets/JC_profile_pic.png" mat-card-lg-image>
      <mat-card-footer class="nombre_prof" >Rafael Gonzales</mat-card-footer>
    </mat-card>
  </div>
  <div class=".prf_pics">
    <mat-card>
      <img src="../../assets/JC_profile_pic.png" mat-card-lg-image>
      <mat-card-footer class="nombre_prof" >Juan Pablo Pajaro</mat-card-footer>
    </mat-card>
  </div>
</div>
