.center{
  margin: auto;
  width: fit-content;
}

#circle-lines-top{
  animation: loading-bar-morph-Y 3s ease-in-out .5s infinite;
  transform-origin: center top;
}
#circle-lines-bottom{
  animation: loading-bar-morph-Y 3s ease-in-out .5s infinite;
  transform-origin: center top;
}
#circle-lines-right{
  animation: loading-bar-morph-X 3s ease-in-out .5s infinite;
  transform-origin: center left;
}
#circle-lines-left{
  animation: loading-bar-morph-X 3s ease-in-out .5s infinite;
  transform-origin: center left;
}

@keyframes loading-bar-morph-Y{
  0%{
    transform: scaleY(1);
  }
  25%{
    transform: scaleY(1.01);

  }
  50%{
    transform: scaleY(1.02);

  }
  75%{
    transform: scaleY(1.03);

  }
}
@keyframes loading-bar-morph-X{
  0%{
    transform: scaleX(1);
  }
  25%{
    transform: scaleX(1.01);

  }
  50%{
    transform: scaleX(1.02);
  }
  75%{
    transform: scaleX(1.03);

  }

}
