
<div class="title">
  <h1 id="titulo" >Sistema de<img id="logo" src="../../assets/Logo.png" alt="Escudo"></h1>
  <br>
  <h1> predicción de sepsis </h1>

  <hr id="separador">
</div>
<div id="pregunta">
  <h3>¿Cómo funciona?</h3>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto deserunt, possimus labore iure velit totam! Ex, sed illum sint provident, soluta ea eaque amet quo, est tempore sapiente iste repudiandae!</p>
</div>
<div id="table_example">
  <div class="docs">
    <table>
      <tr>
        <th>IdCliente</th>
      <th>Sexo</th>
      <th>IdAtencion</th>
      <th>IdConsulta</th>
      <th>Temperatura</th>
      <th>Frecuencia_Cardiaca</th>
      <th>Frecuencia_Respiratoria</th>
      <th>Presion_Sistolica</th>
      <th>Presion_Diastolica</th>
      <th>Diagnosticos_Ingreso</th>
      <th>Temperatura_Consulta</th>
      <th>FC_Consulta</th>
      <th>FR_Consulta</th>
      <th>PS_Consulta</th>
      <th>PD_Consulta</th>
      <th>DesEnfermedadActual</th>
      <th>DesPlanYConcepto</th>
      <th>Diagnosticos_Consulta</th>
      <th>Variable objetivo</th>
    </tr>
  </table>
  </div>
  <div class="docs">
    <img src="../../assets/undraw_doctors_p6aq 1.png" alt="silueta doctores">
  </div>
</div>
